{{ define "main" }}
  {{ if .Site.Params.enableChristmasTheme }}
    {{ $christmasCSS := resources.Get "css/christmas.css" }}
    {{ if $christmasCSS }}
      <style>
        {{ $christmasCSS.Content | safeCSS }}
      </style>
    {{ end }}
    {{ $santa := resources.GetMatch "**christmas/santa_2.gif" }}
    {{ with $santa }}
      <div class="christmas-reindeer-container">
        <img class="christmas-reindeer-gif" src="{{ $santa.RelPermalink }}" alt="Santa" />
      </div>
    {{ end }}
  {{ end }}
  <div class="flex items-center justify-center">
    <div class="mt-auto flex flex-col items-center justify-center">
      {{/* Add image and site title */}}
      {{ $imagePath := cond .Site.Params.enableChristmasTheme .Site.Params.Author.image .Site.Params.Author.normalImage }}
      {{ $image := resources.GetMatch (print "**" $imagePath) }}
      {{ $name := .Site.Params.Author.name }}
      {{ $icon := .Site.Params.Author.icon }}
      {{ with $image }}
          <img class="mb-1" src="{{ $image.RelPermalink }}" style="width: 100%; max-width: 700px; margin-bottom: -50px;" />
      {{ end }}
    </div>
  </div>
  <div class="justify-center flex">
<div class="container-links">
	<div class="card">
		<div class="container-survey">
  <a href="#" class="link-survey-svg">
    {{ $ztf := resources.GetMatch (print "**" .Site.Params.Author.ztf) }}
    {{ with $ztf }}
    <img class="mb-1" src="{{ $ztf.RelPermalink }}" style="" />
    {{ end }}
  </a>
  <a href="https://ztf.fink-portal.org" target="_blank" class="link-survey"><div class="text2">PORTAL</div></a>
  <a href="https://api.ztf.fink-portal.org" target="_blank" class="link-survey"><div class="text2">API</div></a>
  <a href="https://doc.ztf.fink-broker.org" target="_blank" class="link-survey"><div class="text2">DOC</div></a>
</div>
</div>
<div class="card">
<div class="container-survey">
  <a href="#" class="link-survey-svg">
    {{ $rubin := resources.GetMatch (print "**" .Site.Params.Author.rubin) }}
    {{ with $rubin }}
    <img class="mb-1" src="{{ $rubin.RelPermalink }}" style="" />
    {{ end }}
  </a>
  <a href="https://lsst.fink-portal.org" class="link-survey"><div class="text2">PORTAL</div></a>
  <a href="https://api.lsst.fink-portal.org" class="link-survey"><div class="text2">API</div></a>
  <a href="https://doc.lsst.fink-broker.org" target="_blank" class="link-survey"><div class="text2">DOC</div></a>
</div>

  </div>
{{ end }}
